{% extends 'PaginaCitas/Base.html' %}
{% load static %}
{% block title %}Home{% endblock %}

{%block body%}
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand me-auto" href="#"><img src="" alt="Citas bot"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Logo</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-center flex-grow-1 pe-3">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#carousel">Nuestros Profesionales</a>
                        </li>
                    </ul>
                    <div class="d-flex justify-content-center">
                        {% if user.is_authenticated %}
                        <a href="{% url 'logout' %}" class="Logout-button">Cerrar Sesión</a>
                        {% else %}
                        <a href="{% url 'register' %}" class="Registrarse-button">Registrarse</a>
                        <a href="{% url 'login' %}" class="Login-button">Iniciar Sesión</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <!-- End Navbar -->

    <!-- Hero Section -->
    <section class="hero-section">
        <div class="container d-flex align-items-center justify-content-center fs-1 text-white flex-column">
            <a href="{% url 'chat' %}" class="ChatBot">Agendar Cita</a>
        </div>
    </section>
    <!-- End Hero Section -->

    <!-- Carousel -->
    <section id="carousel" class="carousel-section">
        <div class="carousel">
            <div class="list">
                {% for profesional in profesionales %}
                <div class="item">
                    <img src="{% static profesional.imagen %}" alt="{{ profesional.nombre }}">
                    <div class="content">
                        <div class="author">{{ profesional.especialidad }}</div>
                        <div class="title">{{ profesional.nombre }}</div>
                        <div class="topic">{{ profesional.titulo }}</div>
                        <div class="des">{{ profesional.descripcion }}</div>
                    </div>
                </div>
                {% endfor %}
            </div>

            <!-- list thumbnail -->
            <div class="thumbnail">
                {% for profesional in profesionales %}
                <div class="item">
                    <img src="{% static profesional.imagen %}" alt="{{ profesional.nombre }}">
                    <div class="content">
                        <div class="title">{{ profesional.nombre }}</div>
                        <div class="description">{{ profesional.descripcion }}</div>
                    </div>
                </div>
                {% endfor %}
            </div>

            <!-- Navigation Arrows -->
            <div class="arrows">
                <button id="prev" class="prev-button" aria-label="Previous">
                    <i class="bi bi-arrow-left-short"></i>
                </button>
                <button id="next" class="next-button" aria-label="Next">
                    <i class="bi bi-arrow-right-short"></i>
                </button>
            </div>

            <div class="time"></div>
        </div>

        <script src="{% static 'PaginaCitas/JS/app.js' %}"></script>
    </section>
{% endblock %}
